@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 768px) {

  header nav ul {
    display: none;
  }

  header .container {
    padding: 0 10px;
  }

  .button-burger {
    display: flex;
  }
}
@media only screen and (max-width: 794px) {

  header nav ul {
    display: none;
  }

  header .container {
    padding: 0 10px;
  }

  .button-burger-white {
    display: flex;
  }

  .button-burger-white img:hover {
    background-image: url(../images/button_black.svg);
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 820px) {

  header nav ul {
    display: none;
  }

  header .container {
    padding: 0 10px;
  }

  .button-burger-white {
    display: flex;
  }

  .button-burger-white img:hover {
    background-image: url(../images/button_black.svg);
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 420px) {

}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}